<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="OSCExecutionSuite" parallel="tests">
  <listeners>
    <listener class-name="TestEngine.Listener"/>
  </listeners>
  <test name="TestSet_PRM">
    <classes>
      <class name="TestCases.PRM.Test10"/>
    </classes>
  </test> <!-- TestSet_PRM -->
</suite> <!-- OSCExecutionSuite -->
